#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

section {
  padding: 1rem; 
  min-height: 100vh;
}
